body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 54);
  height: 90vh;
}

h1 {
  color: white;
  font-size: 64px;
}

h3 {
  margin: 0;
  color: lightgrey;
  font-size: 36px;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 1rem;
  height: 25px;
  font-weight: bold;
  font-size: large;
  padding-left: 10px;
}

label {
  color: lightgrey;
  font-size: large;
  font-weight: bold;
}

table {
  background-color: rgb(201, 201, 201);
  padding: 10px;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

td {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

button {
  border-radius: 2rem;
  margin: 10px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  width: 125px;
}

#reset-btn {
  font-size: x-large;
  font-weight: bold;
  background-color: yellow;
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: black;
  border-radius: 2rem;
  text-decoration: none;
}

.timer-btn {
  font-size: x-large;
  font-weight: bold;
  background-color: rgb(201, 201, 201);
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: black;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 30px rgb(120, 120, 120);
}

.active {
  color: black;
  box-shadow: inset 3px 3px 10px yellow, inset -3px -3px 10px yellow
}


ul {
  background-color: rgb(227, 232, 232);
  border-radius: 1rem;
  width: 100%;
  padding: 10px;
}

li {
  list-style: none;
  font-size: x-large;
  font-weight: bold;
}

.feedback {
  color: red;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}

.timer-styles {
  background-color: rgb(223, 125, 125);
  height: 50px;
  width: 100px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: large;
  font-weight: bold;
  color: white
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}

#main-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

#game-container {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  height: 500px;
  width: 500px;
}

#settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  margin: 10px;
}

#score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin: 10px;
}

#answers-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: auto;
  margin: 10px;
}