<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>Boggle Game</title>
</head>

<body>
  <h1>Boggle Game</h1>

  <section id="input-container">
    <form method="POST" id="user-input" onsubmit="event.preventDefault(); submitGuess();">
      <label for="guess">Enter word found: </label>
      <input type="text" name="guess" required>
      <button id="submit-btn" type="submit">submit</button>
    </form>

    <div class="feedback">
    </div>
  </section>

  <section id="main-section">
    <div id="settings-container">
      <div id="timer-settings">
        <div class="timed timer-btn">Timed Game</div>
      </div>
      <div>
        <span id="timer"></span>
      </div>
      <a id="reset-btn" href="/reset-game">Reset Game</a>
    </div>

    <div id="game-container">
      <table>
        {% for row in current_board %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div id="answers-container">
      <div>
        <h3>Found Answers!</h3>
        <ul id="found-words-list">
          {% for word in found_words %}
          <li>{{ word }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>


  <section id="score-section">
    <div>Current Score: <span id="user-score">{{ current_score }}</span></div>
    <div>
      HighScore: <span id="user-highscore"> {{ highscore }}</span>
    </div>

  </section>




  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>